@section Stylesheets {
    <link rel="stylesheet" href="@Url.Content("~/Assets/resources/css/ekz.css")" />
}

@section Javascripts {
    <script id="microloader" type="text/javascript" src="@Url.Content("~/Assets/touch/microloader/development.js")"></script>
}

<div id="appLoadingIndicator">
    <div></div>
    <div></div>
    <div></div>
</div>