@section Head {
    <title>EKZ</title>
}

<div id="appLoadingIndicator">
    <div></div>
    <div></div>
    <div></div>
</div>

<script id="microloader" type="text/javascript" src="@Url.Content("~/Assets/touch/microloader/development.js")"></script>